.dropdown{
    width: 275px;
    position: relative;
    background: $offwhite;
    &__anchor{
        padding: 0.4em;
    }
    &__list{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
    }
    &__item{
        display: block;
        padding: 0.4em;
        background: $offwhite;
        border-top: 1px solid rgba(75, 74, 74, 0.2);
        font-weight: 300;
        &:hover{
            background: #bcbaba;
        }
    }
}